<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" [routerLink]="['/home']">Home</a> -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" *ngIf="isLogged && role === 'Admin'">
          <li>
            <a class="nav-link" [routerLink]="['/home/new-product']"
              >New product</a
            >
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/home/orders']">All orders</a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/home/verification']"
              >Verification</a
            >
          </li>
          <li>
            <a
              class="nav-link"
              [routerLink]="['/home/persons', personId, 'details']"
              >My profile</a
            >
          </li>
          <li *ngIf="isLogged">
            <a class="nav-link" [routerLink]="['/']" (click)="logOut()"
              >Log out</a
            >
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="isLogged && role === 'Deliverer'">
          <li>
            <a class="nav-link" [routerLink]="['/home/new-orders']"
              >New orders</a
            >
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/home/my-orders']">My orders</a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/home/countdown']"
              >Current order</a
            >
          </li>
          <li>
            <a
              class="nav-link"
              [routerLink]="['/home/persons', personId, 'details']"
              >My profile</a
            >
          </li>
          <li *ngIf="isLogged">
            <a class="nav-link" [routerLink]="['/']" (click)="logOut()"
              >Log out</a
            >
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="isLogged && role === 'Customer'">
          <li>
            <a class="nav-link" [routerLink]="['/home/new-order']">New order</a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/home/countdown']"
              >Current order</a
            >
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/home/history']"
              >Order history</a
            >
          </li>
          <li>
            <a
              class="nav-link"
              [routerLink]="['/home/persons', personId, 'details']"
              >My profile</a
            >
          </li>
          <li *ngIf="isLogged">
            <a class="nav-link" [routerLink]="['/']" (click)="logOut()"
              >Log out</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
